.warning {
    height: 50px;
    width: 300px;
    position: absolute;
    right: 0;
    top: 10%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(226, 44, 44);
    font-size: 1.1rem;
    color: white;
    font-family: 'Arial', sans-serif; 
    padding: 5px;
    border-radius: 5px;
}

.added {
    height: 50px;
    width: 150px;
    position: absolute;
    right: 0;
    top: 10%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgb(255, 123, 0);
    font-size: 1.1rem;
    color: white;
    font-family: 'Arial', sans-serif; 
    padding: 5px;
    border-radius: 5px;
}


